<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rival.tutorialloginregist">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SIP Kopi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorialLoginRegist">
        <activity
            android:name=".productadd"
            android:exported="false" />
        <activity
            android:name=".product"
            android:exported="false" />
        <activity
            android:name=".pendataanadd"
            android:exported="false" />
        <activity
            android:name=".pendataan"
            android:exported="false" />
        <activity
            android:name=".pembibitanadd"
            android:exported="false" />
        <activity
            android:name=".pembibitan"
            android:exported="false" />
        <activity
            android:name=".editprofile"
            android:exported="false" />
        <activity
            android:name=".setting3"
            android:exported="false" />
        <activity
            android:name=".setting2"
            android:exported="false"
            android:label="@string/title_activity_setting2"
            android:theme="@style/Theme.TutorialLoginRegist" />
        <activity
            android:name=".Accountdetail"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".NotifikasiActivity" -->
        <!-- android:exported="false" /> -->
        <receiver
            android:name=".Notification"
            android:enabled="true" />

        <activity
            android:name=".LupaSandiActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerView"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>